---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* KoPub Dotum */
@font-face {
 font-family: 'KoPub Dotum';
 font-style: normal;
 font-weight: 400;
 src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.eot);
 src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.eot?#iefix) format('embedded-opentype'),
 url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.woff) format('woff'),
 url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 700;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.ttf) format('truetype');
}


// Our variables
$base-font-family: 'KoPub Dotum', 'DotumChe', 'AppleGothic', 'Arial',' Helvetica', 'sans-serif';
$base-font-size:   21px;
$menu-font-size:   20px;
$small-font-size:  16px;
$base-line-height: 1.8;

$text-color:       rgba(0,0,0,0.7);
$background-color: #ffffff;
$brand-color:      #0099bb;
$menu-hover-color: #f4f4f4;
$visited-link-color:#CD0000;

$gray-color:       #999999;


$on-palm:          600px;
$on-laptop:        850px;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;