---
title: Archive
permalink: /archive/
sitemap: false
---
<div markdown="0">
{{ site.category }}
{% for category in site.categories %}
    {% assign c = category | first %}
    {% assign posts = category | last %}
    <h1>{{ c }}</h1>
    <ul>
    {% for post in posts %}
        {% if post.categories contains c %}
        <div>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <time>{{ post.date | date: "%b %-d, %Y"  }}</time>
        </div>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}

<!--
{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}
</ul>
      {% endif %}
<h2>{{ post.date | date: '%Y-%m' }}</h2>
<ul>
    {% endif %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="post-date">{{ post.date | date: "%b %-d, %Y"  }}</span>
  </li>
{% endfor %}
-->
</div>
