---
layout: default
sitemap: false
---
<div class="posts">
{% for post in paginator.posts %}
  <article class="post">
      <h1 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>

      {{ post.content }}

      <time class="post-date">{{ post.date | date: "%b %-d, %Y" }}</time>
  </article>
{% endfor %}
</div>

<!-- Pagination links -->
<nav id="paginator">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" id="paginator-older"><< Older</a>
  {% else %}
    <span id="paginator-older"><< Older</span>
  {% endif %}
  <!--
  <span class="page_num">{{ paginator.page }}/{{ paginator.total_pages }}</span>
  -->
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" id="paginator-newer">Newer >></a>
  {% else %}
    <span id="paginator-newer">Newer >></span>
  {% endif %}
</nav>
