<small id="copyright">&copy; 2014-{{ site.time | date: '%Y' }}. {{ site.title }}.</small>
<script>
console.log('Nobody cares how it works as long as it works.');
console.log('\
 ___ _ _ ___ _ _ ___ \n\
| . | | | -_| | | -_| \n\
|  _|___|___|___|___| \n\
|_| \n\
\n');
// console.log('\
//                                                             \n\
//                            :III                             \n\
//                           IIIIIII                           \n\
//                           II   II                           \n\
//                           IIIIIII                           \n\
//                            IIIII                            \n\
//                   III?      III                   IIIII     \n\
//       III=      IIIIIII     II,                 IIIIIIIII   \n\
//    ~IIIIIIII    II~  II,    +I                 IIIII?IIIII  \n\
//   ,IIIIIIIIII   IIIIIIIIIIIIIIIIIIII          ~IIII   IIII  \n\
//   IIII   IIII~   ,IIIIIIIIIIIIIIIIIIIII      ~IIIII~  IIII  \n\
//   IIII   IIIII:   +IIIIII$$$$$$$$$IIIIII+   IIIIIIIIIIIII   \n\
//    IIIIIIIIIIIII.IIIII$$$$$$$$$$$$$$$IIIIIIIIIIIIIIIIIII    \n\
//     IIIIIIIIIIIIIIIII$$   :$$$$$$$$$$$7IIIIII               \n\
//               ?IIII$$$      OOOOO$$$$$$$IIII                \n\
//                III7$$Z      OOOOOOO$$$$$7III,               \n\
//     ?III      IIII$$$$$    OOOOOOOOO$$$$$IIII  IIII         \n\
//    IIIIIII=   IIII$$$$OOOOOOOOOOOOOOO$$$$?IIIIIIIIII        \n\
//   ,II  IIIIIIIIIII$$$$OOOOOOOOOOOOOOO$$$$7IIIIII  III       \n\
//    IIIIIII+   IIII$$$$OOOOOOOOOOOOOOO$$$$IIIIIIIIIII        \n\
//     IIII      IIII$$$$$OOOOOOOOOOOOO$$$$$IIII  IIII         \n\
//                III7$$$$$OOOOOOOOOOO$$$$$7III,               \n\
//                IIII$$$$$$$OOOOOOO$$$$$$$IIII                \n\
//                 IIIII$$$$$$$$$$$$$$$$$7IIIIIIIIIIIIIII      \n\
//                  IIIII$$$$$$$$$$$$$$$IIIII~IIIIIIIIIIIII    \n\
//                   +IIIIII$$$$$$$$$?IIIII+   IIIIIIIIIIIII   \n\
//                     IIIIIIIIIIIIIIIIIII.     IIIII   IIII   \n\
//                    III.IIIIIIIIIIIIIIIIIII    IIII   IIII   \n\
//                  IIII+              III?III    IIIIIIIIII   \n\
//               =IIIIII              =II  III     IIIIIII     \n\
//             IIIIIIIII               IIIIII                  \n\
//           :IIIIIIIIII                 II:                   \n\
//           IIII   IIII                                       \n\
//           IIII   IIII                                       \n\
//           ~IIIIIIIIII                                       \n\
//             IIIIIIII                                        \n\
//               =I?                                           \n\
//                                                             \n\
// \n');
</script>
