/**
 * 초기화 코드
 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl{margin:0;padding:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/**
 * 이미지 정렬 코드 
 */
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


/**
 * 드래그 블록
 */
::selection {
    background:$brand-color;
    color: $background-color;
    text-shadow: none;
}
::-moz-selection {
    background:$brand-color;
    color: $background-color;
    text-shadow: none;
}
::-webkit-selection {
    background:$brand-color;
    color: $background-color;
    text-shadow: none;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    word-spacing: +0.5px;
}

p {
    margin-top: 1.5em;
}
a {
    color: $brand-color;
    text-decoration: underline;
}   
a:focus {
    outline:none;
}

.content {
    max-width: $on-laptop;
    margin: 0 auto;
}

.post {
    margin: 0px 25px 0px 25px;
    border-top: 3px solid $brand-color;
}
.post:first-child {
    border-top: 0px;
}


/*--- 포스트 제목 ---*/
.post-title {
    font-size: 40px;
    text-align: center;
    line-height: 1.25;
    margin: 2.5em 0px 2.5em 0px;
}
.post-title a{
    color: $text-color;
    text-decoration: none;
}
.post-title a:hover {
    color: $brand-color;
}


/*--- 본문 ---*/
.post-body h2 {
    font-size: 35px;
    margin-top: 0.5em;
}
.post-body h3 {
    font-size: 30px;
    margin-top: 0.4em;
}
.post-body h4 {
    font-size: 25px;
    margin-top: 0.3em;
}

.post-body a:visited {
    color: $visited-link-color;
}

.post-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
      
.post-body iframe, .post-body object {
    max-width: 100%;
    height: auto;
}
      
.post-body blockquote {
    padding-left: 1em;
    border-left: 3px solid #ccc;
    /*font-style: italic;*/
}
      
.post-body ul, .post-body ol, .post-body li {
    margin-left: 1em;
    font-size: 20px;
}

.post-body pre {
    overflow: scroll;
    margin: 10px;
    padding: 10px;
    color: #dddddd;
    background: rgba(0,0,0,0.8);
}

.post-body code {
    margin: 0px 5px 0px 5px;
    padding: 5px;
    color: #dddddd;
    background: rgba(0,0,0,0.8);
}

/*--- 포스트 날짜 ---*/ 
.post-footer {
    padding: 0;
    margin-top: 3em;
    margin-bottom: 3em;
}
.post-date {
    font-size: $small-font-size;
    color: $gray-color;
    font-style: italic;
    display: inline-block;
    margin-right: 1em;
}