/**
 * Site header
 */
#site-header {
    overflow: hidden;
    text-align: center;
    padding: 0.5em 0em 0.5em 0em;

    #title {
        font-family: 'Nanum Barun Gothic', 'Tahoma', 'Helvetica', 'Arial', 'Dotum', 'sans-serif';
        font-size: 50px;
        line-height: 1.0;
        margin: 0 10px 10px 10px;
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
    #description {
        margin: 0 0 0 0;
        color: $gray-color;
        font-style: italic;
    }
}

#site-nav {
    padding-bottom: 0.3em;
    line-height: 2em;
    font-size: $menu-font-size;
    border-bottom: 5px solid $brand-color;

    ul {
        margin: 0; padding: 0; 
        list-style-type: none; 
        list-style-image: none; 
        text-align: center;

        li {
            display: inline-block;

            a {
                color: $text-color;
                display: block;
                padding: 0 1em;
                border-radius: 0.25em;
                text-decoration: none;

                &:hover {
                    color: $brand-color;
                    background: $menu-hover-color;
                    text-decoration: none;
                    font-weight:bold;
                }
            }
        }
    }
}

/**
 * Search Form
 */
form input[type="text"] {
    border: 0 none;
    font-size: $menu-font-size;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    width: 63px;

    padding: 0.4em 1em;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
}
form input[type="text"]:hover {
    background: $menu-hover-color;
    text-decoration: none;
    font-weight:bold;
}
form input[type="text"]:focus {
    background: $menu-hover-color;
    text-decoration: none;
    cursor: auto;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
input:hover::-webkit-input-placeholder {
    color: $brand-color;
}
input:focus::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    opacity: 1;
}
input:hover:-moz-placeholder {
    color: $brand-color;
    opacity: 1;
}
input:focus:-moz-placeholder {
    color: $gray-color;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    opacity: 1;
}
input:hover::-moz-placeholder {
    color: $brand-color;
    opacity: 1;
}
input:focus::-moz-placeholder {
    color: $gray-color;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
input:hover:-ms-input-placeholder {
    color: $brand-color;
}
input:focus:-ms-input-placeholder {
    color: $gray-color;
}
input {
    outline-style: none;
}


main {
    max-width: $on-laptop;
    margin: 0 auto;

    article{
        border-top: 3px solid $brand-color;

        &:first-child {
            border-top: 0px;
        }
    }
}



/**
 * Pagination
 */
#pagination {
    max-width: $on-laptop;
    margin: 0 auto;

    margin: 0.5em 0em 0.5em 0em;
    text-align: center;
    line-height: 3em;
    overflow: hidden;
    font-size: 20px;

    /*--- 페이지 버튼 ---*/
    #previous, #next {
        display: block;
        height: 3em;
        padding: 0 1em;
        border-radius: 0.25em;
    }
    #previous {
        float: left;
    }
    #next {
        float: right;
    }
    a{
        text-decoration: none;

        &:hover {
            background: $menu-hover-color;
            font-weight:bold;
        }
    }
}


#site-footer{
    padding: 0.5em 0em 0.5em 0em;
    border-top: 5px solid $brand-color;
    text-align: center;
}



// @media screen and (max-width: 850px) {

//     #site-header {
//         #title {
//             font-size: 40px;
//         }
//         #description {
//             font-size: 13px;
//         }
//     } 

//     #site-nav {
//         font-size: $menu-font-size * 0.75;
//         padding-bottom: 0.3em;
//         border-bottom: 4px solid $brand-color;

//         ul li a {
//             padding: 0 0.5em;
//         }
//     }

//     form input[type="text"] {
//         font-size: $menu-font-size * 0.75;
//         width: 48px;
//         padding: 0.3em 0.5em;
//     }

//     #pagination {
//         font-size: 13px;

//         #previous, #next {
//             line-height: 3em;
//             padding: 0 1em;
//             border-radius: 0.25em;
//         }
//     }

//     #site-footer {
//         font-size: 13px;
//     }
// }


