main {
    padding: 0 5px 0 5px;
    max-width: $large-breakpoint;
    margin: 0 auto;

    .posts>article{
        border-top: 3px solid $brand-color;

        &:first-child {
            border-top: 0px;
        }
    }
}

/*--- POST TITLE ---*/
.post-title {
    font-size: 30px;
    text-align: center;
    margin: 1em 0 0.3em 0;

    a {
        color: $base-text-color;
        text-decoration: none;
        &:hover {
            color: $brand-color;
        }
    }

    @media (min-width: $large-breakpoint) {
        font-size: 40px;
        
        margin: 1.5em 0px 1.0em 0px;
    }
    
}
/*--- POST BODY ---*/
.post {
    code,
    pre {
        font-family: $code-font-family;
        border-radius: 5px;
        border: 1px solid $code-border-color;
    }

    code {
        padding: .25em .5em;
        font-size: 85%;
        color: $code-text-color;
        background-color: $code-background-color;
        border-radius: 3px;
    }

    pre {
        margin-top: 0;
        margin-bottom: 1rem;
        overflow-x: auto;
    }

    pre code {
        padding: 0;
        border: 0;
        font-size: 100%;
        color: inherit;
        background-color: transparent;
    }

}


/*--- POST DATE ---*/ 
.post-date {
    margin: 1em 0.5em;
    text-align: right;
    display: block;

    @media (min-width: $large-breakpoint) {
        margin: 2em 1em;
    }
}