$base-font-family: 'Nanum Barun Gothic', 'AppleGothic', 'Malgun Gothic', 'DotumChe', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-line-height: 1.5;
$base-text-color: #515151;
$base-background-color:   #ffffff;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-text-color: #bf616a;
$code-background-color: #f9f9f9;
$code-border-color: #e5e5e5;

$brand-color: #FFA200;

$gray-color: #999999;

$spacing-unit: 30px;

$menu-font-size: 20px;
$menu-hover-color:   #f4f4f4;

$large-breakpoint: 50em;
$large-font-size: 17px;
